<h1>Signup</h1>

<%= form_for @user do |f| %>
  <%= f.text_field :email, class: "form-control", placeholder: "Username" %><br />

  <%= f.password_field :password, class: "form-control", placeholder: "Password" %><br />

  <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm Password" %><br />

  <%= f.submit class: "btn btn-primary"%>
<% end %>